<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/calendar-home" ng-click="findAllElements('channels')">Home</a></li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">s
            <a href="#/calendar-home" ng-click="findAllElements('channels')">Calendar</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked  dashboard-nav">
        <li class="active">
            <a href="#/calendar-home" ng-click="findAllElements('channels')">Reminders <span class="glyphicon glyphicon-plus float-right"></span></a>
        </li>
    </ul>

</div>