<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li ng-show="action == 'update'"><a href="#/project" ng-click="findElement('projects', element.id)">Project</a></li>
        <li ng-show="action == 'create'">Create Project</li>
        <li> </li>
    </ul>

    <div class="panel panel-success" ng-show="message">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
        Success! Project {{message}}
        </div>
    </div>

    <form name="form" method="post" novalidate>
        <fieldset>
            <legend>Project</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" ng-model="formData.name" name="name" id="name" required="" />
                    <div ng-show="form.$submitted || form.name.$touched">
                        <span ng-show="form.name.$error.required">Please enter your name.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="visibility" class="col-lg-2 control-label">Visibility</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="formData.private" ng-options="x for x in [true,false]" id="visibility">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ownerUserID" class="col-lg-2 control-label">Owner</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" ng-model="formData.ownerUserID" name="ownerUserID" id="ownerUserID" required="" />
                    <div ng-show="form.$submitted || form.ownerUserID.$touched">
                        <span ng-show="form.ownerUserID.$error.required">Please enter your project owner.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2" ng-show="action == 'create'">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="createElement('projects')">Create</button>
                </div>
                <div class="col-lg-10 col-lg-offset-2" ng-show="action == 'update'">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="updateElement('projects', formData.id)">Update</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="deleteElement('projects', formData.id)">Delete</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>