<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Home</a></li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Projects</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Tasks</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Channels</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">People</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Documents</a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked dashboard-nav">
        <li class="active">
            <a href="#/dashboard-home" ng-click="findAllElements('dashboards')">Meetings</a>
        </li>
    </ul>

</div>