<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/projects-home" ng-click="findAllElements('projects')">Home</a></li>
        <li ng-show="action == 'update'"><a href="#/projects-view-project" ng-click="findElement('projects', element.id)">Project</a></li>
        <li ng-show="action == 'create'">Create Project</li>
        <li> </li>
    </ul>

    <div class="alert alert-dismissible alert-success" ng-show="message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully {{message}} the project.
        <a href="#/projects-view-project" ng-click="findElement('projects', element.id)" ng-show="message == 'updated'">View project home.</a>
        <a href="#/projects-home" ng-click="findAllElements('projects')" ng-show="message != 'updated'">View projects home.</a>
    </div>

    <form name="form" method="post" novalidate ng-show="!message">
        <fieldset>
            <legend>Project</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" ng-model="formData.name" name="name" id="name" required="" />
                    <div ng-show="form.$submitted || form.name.$touched">
                        <span ng-show="form.name.$error.required">Please enter your name.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lead" class="col-lg-2 control-label">Project Lead</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" name="lead" id="lead" />
                </div>
            </div>
            <div class="form-group" ng-init="formData.ownerUserID = 1; formData.private = true">
                <div class="col-lg-10 col-lg-offset-2" ng-show="action == 'create'">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="createElement('projects')">Create</button>
                </div>
                <div class="col-lg-10 col-lg-offset-2" ng-show="action == 'update'">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="updateElement('projects', formData.id)">Update</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="deleteElement('projects', formData.id)">Delete</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>