<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/projects-home" ng-click="findAllElements('projects')">Home</a></li>
        <li class="float-right">
            <a href="#/projects-create-project" ng-click="createAction()" data-toggle="tooltip" title="Create a new project">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href=""><span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search projects"></span></a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#/projects-home" ng-click="findAllElements('projects')">Projects</a>
        </li>
        <li ng-repeat="project in elements">
            <a href="#/projects-view-project" ng-click="findElement('projects', project.id)">{{project.name}}
                <span class="glyphicon glyphicon-pushpin float-right hover-class" data-toggle="tooltip" title="Pin project to dashboard"></span>
            </a>
        </li>
    </ul>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

</div>