<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/projects-home" ng-click="findAllElements('projects')">Home</a></li>
        <li>Project</li>
        <li class="float-right">
            <a href="#/projects-create-task" ng-click="createAction(element)" data-toggle="tooltip" title="Create a new task"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="#/projects-update-project" ng-click="updateAction(element)" data-toggle="tooltip" title="Update this project"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href=""><span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search tasks"></span></a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#/projects-view-project" ng-click="findElement('projects', element.id)">{{element.name}}</a>
        </li>
        <li ng-repeat="task in element.tasks">
            <a href="#/projects-view-task" ng-click="getElementAndParent('tasks', task.id, 'projects', element.id)">{{task.summary}}
                <span class="glyphicon glyphicon-pushpin float-right hover-class" data-toggle="tooltip" title="Pin task to dashboard"></span>
                <span class="glyphicon glyphicon-ok float-right hover-class" data-toggle="tooltip" title="Mark task as completed"></span>
            </a>
        </li>
    </ul>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

</div>