.ng-cloak { display:none; }
.header {
    padding-bottom: 10px;
    padding-top: 10px;
}
.breadcrumb>li+li:nth-last-child(1):before {
    content: " ";
}

.glyphicon {
    float:right;
    padding-top:4px;
    padding-right:20px;
}

h4 {
    padding-top:10px;
}

.floatright {
    float:right;
}

.dashboard-nav {
    padding-bottom: 20px;
}