<div class="container">

    <ul class="breadcrumb">
        <li><a href="#/communicate-home" ng-click="findAllElements('channels')">Home</a></li>
        <li class="float-right">
            <a href="#/communicate-create-channel" ng-click="createAction()" data-toggle="tooltip" title="Create a new channel">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </li>
    </ul>

    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#/communicate-home" ng-click="findAllElements('channels')">Communicate <span class="glyphicon glyphicon-refresh float-right"></span></a>
        </li>
    </ul>

</div>